<style>
    footer{
        background-color: #2E8B57;
        color:white;
    }
    footer span{
        color:white;
        margin-left: 600px;
    }
    @media  (max-width: 1000px) {
        footer span{
            margin-left: 100px;
        }
    }
</style>
<footer class="footer py-3 mt-auto">
    <div class="container">
        <span>&copy; TRIPPER 2022</span>
    </div>
</footer>