<% layout('layouts/boilerplate')%>
<style>
    .old{
        padding-top: 15px;
    }
    .old a{
        text-decoration: none;
        color:black;
    }
</style>
<div class="container  my-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
            <div class="card shadow">
                <img src="https://previews.123rf.com/images/dzein/dzein1509/dzein150900025/45072951-.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title text-center">Join us..!</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-block">Explore Spots</button>
                        </div>
                        
                    </form>
                    <div class="old text-center">
                        <a href="/login"><i class="fa-solid fa-person-hiking"></i> Already a Explorer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>